@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
/* Your custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #16181c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(62, 65, 68, 0.273);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(62, 65, 68);
}

.rightsidebar::-webkit-scrollbar {
  display: none;
}
