@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
/* Your custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #16181c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(62, 65, 68, 0.273);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(62, 65, 68);
}

.rightsidebar::-webkit-scrollbar {
  display: none;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background-color: rgb(239, 243, 244); /* background color */
  border-radius: 50%; /* make it round */
  cursor: pointer;
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path stroke="white" stroke-width="2" d="M1 1l10 10M11 1L1 11"/></svg>')
    no-repeat center;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path stroke="white" stroke-width="2" d="M1 1l10 10M11 1L1 11"/></svg>')
    no-repeat center;
}
