@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Re-enable scrollbar ONLY for #root */
#root {
  scrollbar-width: auto;
  -ms-overflow-style: auto;
}

#root::-webkit-scrollbar {
  display: block;
}
